@font-face {
    font-family: open-sans;
    src: url(@/styles/fonts/assets/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
  }
@font-face {
    font-family: Raleway;
    src: url(@/styles/fonts/assets/Raleway/Raleway-VariableFont_wght.ttf);
  }